
/***
 *   TYPOGRAPHY
 ***/

h1 {color:#404040;}

/***
 *   HELPER CLASSES
 ***/

.gray-bkgd {background-color:#ebebeb;}
.container-padding {padding:5%;}
.border {border: 1px solid #cdcdcd;}
.border-radius {border-radius: 10px;}
.padding-top {padding-top: 3%;}
.padding-10px {padding: 10px;}
.no-padding {padding: 0px !important;}
.no-margin {margin: 0px !important;}

/***
 *   LAYOUT
 ***/
.login-container {max-width: 650px; width: 100%; padding-top: 50px; margin: 0 auto;}
.logo {max-width: 300px; width: 100%;}
